* {
    margin: 0;
    padding: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    --primary-colour: lightgreen;
}

.container { 
    text-align: center;
}

h1, h2 {
    margin-top: 1rem;
}

h2 {
    color: var(--primary-colour);
}

.flexbox {
    display: flex;
}